{% extends 'index.html' %}
{% block content %}
<div style="background-color: red;">
    <h1 align="center" style="color: white;">Journal de bord</h1>
    <p align="center" style="color: white;" style="font-weight: bold;" style="font-size: large;">Bienvenue sur le journal de bord de l'équipage Simplon 🏂</p> 
    
</div>

{% endblock %}
