{% extends 'index.html' %}

{% block javascript %}
  <script>
    $("#select_student").change(function () {
      var student_id = $(this).val();
      console.log(student_id)
      if (student_id != "none"){
        $.ajax({
          url: "/get_notes_by_student/" + student_id + "/",
          dataType: 'json',
          success: function (data) {
            $("#student_notes").empty()
            console.log(JSON.stringify(data))
            data.forEach((note) => {
              var str_students = "";
              note.students.forEach((student) => {
                str_students += student + " "
              })
              $("#student_notes").append(
                "<h2>" + note.subjet + "<small> - By " + note.author + " on " + note.date + "</small>" + "</h2>",
                "<br> About: " + str_students + ":",
                "<p>" + note.notes,
                "<hr>"
              )
            });
          }
        });
      }
    });
  </script>
{% endblock %}

{% block content %}
    <label for="students">Select a student</label>
    <select name="students" id="select_student">
        <option value="none" selected>---</option>
        {% for student in students %}
        <option value="{{ student.id }}">{{ student.first_name_student }} {{ student.last_name_student }}</option>
        {% endfor %}
    </select>
    <div id="student_notes">
    </div>
{% endblock %}
