body, html {
    height: 100%;
  }
  
  .bg {
    /* The image used */
    background-image: url("https://blog.crossknowledge.com/wp-content/uploads/2020/10/SpringVoice-image800x425-LesTypologiesdApprenants.png");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }