{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="stylesheet.css">
    <title>Le Journal de bord de Simplon</title>
</head>
<body>
    <nav>
      <img src="https://www.est-ensemble.fr/sites/default/files/styles/large_slider/public/logo_simplon_simple_red1.png?itok=J7wPlX1N" style="height: 50px;">
      <a href="{% url 'eval:accueil' %}">Accueil</a> |
      <a href="{% url 'eval:notes_by_student' %}">Notes by student</a>
    </nav>
   
    <hr>
    {% block content %}
    {% endblock %}
    <hr>
    
    <footer>
      This is the footer
    </footer>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    {% block javascript %}{% endblock %}
</body>
</html>
